## Basics of Cleaning Text

In [1]:
import numpy as np
import pandas as pd

In [31]:
df = pd.read_csv("tripadvisor_hotel_reviews.csv")
df.head()

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       4
1  ok nothing special charge diamond member hilto...       2
2  nice rooms not 4* experience hotel monaco seat...       3
3  unique, great stay, wonderful time hotel monac...       5
4  great stay great stay, went seahawk game aweso...       5

In [32]:
df.shape

(20491, 2)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20491 entries, 0 to 20490
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Review  20491 non-null  object
 1   Rating  20491 non-null  int64
dtypes: int64(1), object(1)
memory usage: 320.3+ KB

In [34]:
df.isnull().sum()

Review    0
Rating    0
dtype: int64

In [35]:
df["Rating"] = df["Rating"].map({1:0, 2:0, 3:1, 4:2, 5:2})
df.sample(3)

                                                  Review  Rating
14048  best boutique hotel room loved arcotel velvet ...       2
7158   great place read ahead couple aged 30 stayed s...       2
315    town visitors love hotel town visitors love ol...       2

In [36]:
import re

for x in df.index:
    text=df.iloc[x]['Review'].lower()
    url_find = re.findall('http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*(),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+', text)
    if url_find:
        text = re.sub("".join(url_find), " ", text)
    text = re.sub("[^a-z]+", " ", text)
    clean_text = re.sub(r"\s+", " ", text)
    df.iloc[x,0] = clean_text

In [37]:
df.head()

                                              Review  Rating
0  nice hotel expensive parking got good deal sta...       2
1  ok nothing special charge diamond member hilto...       0
2  nice rooms not experience hotel monaco seattle...       1
3  unique great stay wonderful time hotel monaco ...       2
4  great stay great stay went seahawk game awesom...       2